.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-style: "Times New Roman", sans-serif;
}

img {
    height: auto;
    width: 300px;
}

#home {
    font-size: 20px;
}

.desc {
    text-align: center;
}